In [25]:
import pandas as pd
from pandas import Series
import numpy as np

In [ ]:
#Series(collection of value) DataFrame的一个子集 底层由numpy实现,貌似是nparray的子类
#DataFrame(ollection of Series object)

In [3]:
titanic_surval = pd.read_csv("titanic/train.csv")
titanic_surval.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
series_name = titanic_surval["Name"]
print(type(series_name))
print(series_name[0:5])#可以使用nparray的操作即可

series_age =  titanic_surval["Age"]
print(series_age[0:5])

<class 'pandas.core.series.Series'>
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [20]:
#定义series(含有index和values)
name_values = series_name.values#这里只读取值出来
age_values = series_age.values

#自定义series结构包含名称与年龄,并将名称作为索引
series_custom = Series(age_values,index = name_values)
#然后就可以将名称作为索引使用
series_custom[["Braund, Mr. Owen Harris","Allen, Mr. William Henry"]]

Braund, Mr. Owen Harris     22.0
Allen, Mr. William Henry    35.0
dtype: float64

In [16]:
#原先的使用下标做索引也可以继续使用
series_custom[0:3]

Braund, Mr. Owen Harris                                22.0
Cumings, Mrs. John Bradley (Florence Briggs Thayer)    38.0
Heikkinen, Miss. Laina                                 26.0
dtype: float64

In [40]:
original_index = series_custom.index.tolist()
#拿到名称列表（之前设置了名称为index）
# print(original_index)

#对名称list进行排序
sorted_index = sorted(original_index)
# print(sorted_index)
#reindex将行序号更新
sorted_by_index = series_custom.reindex(sorted_index)
print(sorted_by_index[0:5])

Abbing, Mr. Anthony                      42.0
Abbott, Mr. Rossmore Edward              16.0
Abbott, Mrs. Stanton (Rosa Hunt)         35.0
Abelson, Mr. Samuel                      30.0
Abelson, Mrs. Samuel (Hannah Wizosky)    28.0
dtype: float64

In [24]:
#在series中可以直接使用排序方法进行排序
sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()
print(sc2[0:5])
print(sc3[0:5])

Abbing, Mr. Anthony                      42.0
Abbott, Mr. Rossmore Edward              16.0
Abbott, Mrs. Stanton (Rosa Hunt)         35.0
Abelson, Mr. Samuel                      30.0
Abelson, Mrs. Samuel (Hannah Wizosky)    28.0
dtype: float64
Thomas, Master. Assad Alexander    0.42
Hamalainen, Master. Viljo          0.67
Baclini, Miss. Eugenie             0.75
Baclini, Miss. Helene Barbara      0.75
Caldwell, Master. Alden Gates      0.83
dtype: float64

In [38]:
#series与np可以混用
# print(np.add(series_custom,series_custom))

# print(np.sin(series_custom))
print(np.max(series_custom))

80.0

In [49]:
series_grater_than_50 = series_custom[series_custom>50]
# print(series_grater_than_50)

# 与符号居然跟大于小于号是同优先级的，导致不加小括号会出错。。。。
print(series_custom[(series_custom<30)&(series_custom>18)])

Braund, Mr. Owen Harris                                     22.0
Heikkinen, Miss. Laina                                      26.0
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)           27.0
Saundercock, Mr. William Henry                              20.0
Sloper, Mr. William Thompson                                28.0
Fortune, Mr. Charles Alexander                              19.0
Meyer, Mr. Edgar Joseph                                     28.0
Cann, Mr. Ernest Charles                                    21.0
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)    27.0
Devaney, Miss. Margaret Delia                               19.0
Nosworthy, Mr. Richard Cater                                21.0
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)          29.0
Rugg, Miss. Emily                                           21.0
Novel, Mr. Mansouer                                         28.5
Sirayanian, Mr. Orsen                                       22.0
Nye, Mrs. (Elizabeth Ramell)                                29.0
Crease, Mr. Ernest James                                    19.0
Kink, Mr. Vincenz                                           26.0
Hood, Mr. Ambrose Jr                                        21.0
Chronopoulos, Mr. Apostolos                                 26.0
Moen, Mr. Sigurd Hansen                                     25.0
Waelens, Mr. Achille                                        22.0
Sheerlinck, Mr. Jan Baptist                                 29.0
Carrau, Mr. Francisco M                                     28.0
Fortune, Miss. Mabel Helen                                  23.0
Celotti, Mr. Francesco                                      24.0
Christmann, Mr. Emil                                        29.0
Andreasson, Mr. Paul Edvin                                  20.0
Dean, Mr. Bertram Frank                                     26.0
Greenfield, Mr. William Bertram                             23.0
                                                            ...
Barah, Mr. Hanna Assi                                       20.0
Lievens, Mr. Rene Aime                                      24.0
Long, Mr. Milton Clyde                                      29.0
Ali, Mr. William                                            25.0
Harmer, Mr. Abraham (David Lishin)                          25.0
Dantcheff, Mr. Ristiu                                       25.0
Hedman, Mr. Oskar Arvid                                     27.0
Alexander, Mr. William                                      26.0
Heininen, Miss. Wendla Maria                                23.0
Lulic, Mr. Nikola                                           27.0
Moor, Mrs. (Beila)                                          27.0
Augustsson, Mr. Albert                                      23.0
Pasic, Mr. Jakob                                            21.0
Alhomaki, Mr. Ilmari Rudolf                                 20.0
Harper, Rev. John                                           28.0
Baclini, Mrs. Solomon (Latifa Qurban)                       24.0
Giles, Mr. Frederick Edward                                 21.0
Gill, Mr. John William                                      24.0
Duran y More, Miss. Asuncion                                27.0
Balkic, Mr. Cerin                                           26.0
Abelson, Mrs. Samuel (Hannah Wizosky)                       28.0
Gustafsson, Mr. Alfred Ossian                               20.0
Petroff, Mr. Nedelio                                        19.0
Shelley, Mrs. William (Imanita Parrish Hall)                25.0
Dahlberg, Miss. Gerda Ulrika                                22.0
Banfield, Mr. Frederick James                               28.0
Sutehall, Mr. Henry Jr                                      25.0
Montvila, Rev. Juozas                                       27.0
Graham, Miss. Margaret Edith                                19.0
Behr, Mr. Karl Howell                                       26.0
Length: 245, dtype: float64