In [1]:
import pandas

In [2]:
titanic_data = pandas.read_csv("D:/csv/titanic/train.csv")

print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
#pandas DataFrame 也类似于numpy array，可以直接进行加减乘除
print(titanic_data.head()["Pclass"]*1000)

0    3000
1    1000
2    3000
3    1000
4    3000
Name: Pclass, dtype: int64

In [10]:
#数据排序(replac表示排序后修改titanic_data数据顺序)
#这里举个例子按船票级别进行排序
titanic_data.sort_values("Pclass",inplace = True)
print(titanic_data["Pclass"])

445    1
310    1
309    1
307    1
306    1
305    1
710    1
711    1
311    1
556    1
298    1
297    1
779    1
295    1
291    1
290    1
571    1
284    1
708    1
319    1
356    1
694    1
351    1
698    1
341    1
716    1
339    1
318    1
336    1
334    1
      ..
210    3
300    3
408    3
409    3
410    3
411    3
414    3
415    3
404    3
355    3
388    3
384    3
359    3
360    3
362    3
363    3
364    3
365    3
367    3
386    3
368    3
372    3
374    3
376    3
378    3
379    3
381    3
382    3
406    3
890    3
Name: Pclass, Length: 891, dtype: int64

In [11]:
#降序排序
titanic_data.sort_values("Pclass",inplace = True,ascending = False)
print(titanic_data["Pclass"])

371    3
132    3
180    3
182    3
184    3
160    3
159    3
158    3
157    3
128    3
129    3
130    3
131    3
138    3
176    3
140    3
186    3
141    3
143    3
146    3
147    3
152    3
153    3
154    3
156    3
142    3
179    3
189    3
663    3
843    3
      ..
544    1
545    1
377    1
166    1
460    1
681    1
373    1
625    1
435    1
438    1
641    1
889    1
447    1
449    1
453    1
456    1
457    1
633    1
572    1
462    1
632    1
555    1
630    1
627    1
434    1
430    1
645    1
383    1
370    1
445    1
Name: Pclass, Length: 891, dtype: int64